<!--String interpolation-->
<!--{{titre + " Rawaa"}}
<hr>
{{nombre}}
<hr>
{{bool}}
 <hr>
 {{obj.cle}}
 <hr>
 {{sqr(5)}}
<hr>
property binding le date doit etre definit dans le component comme une variable de type string égale date-->
<!--<input [type]="date"/>

<hr>
bonjour {{nom}}

<hr>

<span> est un conteneur générique en ligne (inline) pour les contenus phrasés. 
    Il ne représente rien de particulier. Il peut être utilisé pour grouper des éléments afin
     de les mettre en forme (grâce aux attributs class ou id et aux règles CSS)-->

     <!--innerHTML est utilise pour modifier la valeur d'un text-->
<!--<p><span [innerHTML]="nom">hhh</span></p>
-->

<!-- crée un saut de ligne (un retour chariot) dans le texte-->

<!--$event est un objet native -->
<!--<div style="width:500px; height:200px;"
[style.backgroundColor]="color"
(click)="changeColor('green')"
(mouseenter)="changeColor('red')"
(mouseleave)="changeColor('blue')"></div>-->
<!-- lier le property value de l'element html input par la variable nom donc la valeur de input prend toujour 
la valeur du nom 

lier l'event input par une expression qui change la valeur du nom par la valeur mis en input-->
<!--<hr>
<input [value]="nom" (input)="nom=$event.target.value">
<hr>
{{nom}}-->

<!--Double data binding-->
<!--pour faire fonctionner le double data binding on  a besoin d'importer le module FormsModule-->
<!--<hr>
<input type="text" [(ngModel)]="content">
<hr>
{{content}}

<hr>
<button (click)="display=!display"></button>
<p *ngIf="display">bonjour la vie </p>
-->
<!--nng Style-->
<!--<input type="text" [(ngModel)]="color">
<div [ngStyle]="{
    width:'200px',
    height:'200px',
    backgroundColor:color

}"></div> -->


<!-- ngClass on definit des class css pour l'utiliser dans notre div on peut aussi gerer l'affichage de ces classe
en definissant une operation dans la logique du component qui definit quel classe on utilise-->

<input type="text" [(ngModel)]="content" />
<hr>
<!--<div [ngClass]="{
    bluesquare:getStatus(),
    redsquare:false
    
}"></div>-->
<div [ngClass]="{
    bluesquare:content === 'blue',
    redsquare:content === 'red'
    
}"></div>